.DS_Store

# LaTeX intermediate files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.lb
*.bbl
*.bcf
*.blg
*.run.xml
*.fdb_latexmk
*.synctex.gz
*.xdv
*.thm
*.nav
*.snm
*.vrb
*.mp
*.tikz

# Output files
*.pdf
*.dvi
*.ps
*.eps
*.epsi
*.svg
*.png
*.jpg
*.jpeg
*.gif

*.html
